html{
    scroll-padding-top: 70px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin_div{
  padding: 2% 20% 0 20%;
  text-align: justify;
}